<footer class="page-footer font-small pt-4 bg-dark text-muted mt-4">

    <div class="container-fluid  text-left">

        <div class="row">
            <div class="col-md-8 mt-md-0 mt-3 ">

                <h5>CollegeForum</h5>
                <p>CollegeForum provides a platform for student to connect with other, students and their seniors can
                    have discussion on any topic of their interest.
                    This will be a platform where different users can seek or gain advice and ask any question to the
                    community, which can be answered by other individuals or maybe experts.
                </p>

            </div>
            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-4 mb-md-0 mb-3">

                <h5>Quick Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/" style="text-decoration: none;">Home</a>
                    </li>
                    <li>
                        <a href="/questions" style="text-decoration: none;">Questions</a>
                    </li>
                    <li>
                        <a href="/questions/new" style="text-decoration: none;">Ask Questions</a>
                    </li>
                    <li><a href="mailto: shalinsheth4915@gmail.com; deepsolanki3010@gmail.com"
                            style="text-decoration: none;">Contact Us!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        CollegeForum
    </div>
</footer>