<% layout('/layout/boilerplate') %>
    <h1>All Questions</h1>
    <ul>
        <% for(let question of questions){ %>
            <li>
                <a href="/questions/<%= question._id%>">
                    <%= question.question%>
                </a>

            </li>
            <% } %>
    </ul>
    <a href="/questions/new">Ask Question</a>