<% layout('/layout/boilerplate') %>
    <h1>Ask Question</h1>
    <form action="/Questions" method="post">
        <label for="question">Question: </label>
        <input type="text" name="question[question]" id="question" placeholder="Question">
        <label for="category">Category: </label>
        <select name="question[category]" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>">
                    <%=category%>
                </option>
                <% } %>
        </select>
        <label for="description">Description: </label>
        <input type="text" name="question[description]" id="description" placeholder="Description">
        <button>submit</button>
    </form>

    <a href="/questions">Go Back</a>