<% layout('/layout/boilerplate') %>
    <div class="row margin">
        <div class="row">
            <h1 class="text-center mb-3">Ask Question</h1>
            <div class="col-6 offset-3 border rounded p-3">
                <form action="/Questions" method="post" novalidate class="validateForm">
                    <div class="mb-3">
                        <label class="form-label" for="question">Question: </label>
                        <input class="form-control" type="text" name="question[question]" id="question"
                            placeholder="Question" required>
                        <div class="valid-feedback">
                            looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="category">Category: </label>
                        <select name="question[category]" class="form-control" id="category">
                            <% for(let category of categories){ %>
                                <option value="<%=category%>">
                                    <%=category%>
                                </option>
                                <% } %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="image">Image Url </label>
                        <input class="form-control" type="text" id="image" name="question[image]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description: </label>
                        <input type="text" class="form-control" name="question[description]" id="description"
                            placeholder="Description">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">submit</button>
                    </div>
                </form>

            </div>
        </div>
        <a href="/questions">Go Back</a>